<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit">
    <title>{$system.sitename}后台管理中心 - 支付管理 - {$pay.payname}</title>
    
    
</head>

<body>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{$pay.payname}设置</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="__MODULE__/Index/index">主页</a>
                        </li>
                        <li>
                            <a href="__MODULE__/Pay/wxpay">支付设置</a>
                        </li>
                        <li>
                            <strong>{$pay.payname}设置</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>{$pay.payname}接口配置</h5>
                            </div>
                            <div class="ibox-content">
                                <form  role="form" id="form" method="post" action="__MODULE__/Pay/save_wxpay" class="form-horizontal" />
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">身份标识</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="appid" value="{$payconfig.appid}" placeholder="请输入微信公众号身份的唯一标识">
                                            <span class="help-block m-b-none">微信支付接口申请：http://open.wx.qq.com</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Appsecret</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="appsecret" value="{$payconfig.appsecret}" placeholder="请输入JSAPI接口中获取openid">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">API密钥(KEY)</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="key" value="{$payconfig.key}" placeholder="请输入商户支付密钥Key">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">商户ID(MCHID)</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="mchid" value="{$payconfig.mchid}" placeholder="请输入受理商ID">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">支付状态</label>
                                        <div class="col-sm-10">
                                            <input name="paystatus" type="radio" value="1" <if condition="$pay.paystatus eq 1">checked</if>><span>开启</span>
                                            <input name="paystatus" type="radio" value="0"  <if condition="$pay.paystatus eq 0">checked</if>><span>关闭</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                        <input type="hidden" name="payid" value="{$pay.payid}">
                                            <button class="btn btn-primary" type="submit">保存内容</button>
                                            <button class="btn btn-white" type="reset">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
