@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body {
	width:100%;
	height:100%;
	font-size:1.6rem;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
    background: #f1f2f7;
	list-style:none;
	}
a{
	color:#666;
	}
a:hover, a:focus {
    text-decoration: none;
	color:#FF6C60;
	}
.header .footer{
	min-height:60px;
	padding:0,15px;
	}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #FF6C60;
}
.ico-logo{
    float: left;
    padding-right: 15px;
	padding-left:  15px;
    margin-top: 20px;
}
.header-right{
	float:right;
	padding-right:20px;
	margin-top:20px;
	font-size:1.6rem;
	}
@media screen and (max-width:768px){
	.header-right{
		display:none;
	}
	}
/*登录页*/
.login {
    background-color: #f1f2f7;
}

.form-signin {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-signin h2.form-signin-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #41cac0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
}

.form-signin .vcode {
    margin-bottom: 10px;
	margin-left:20px;
	float:left;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 14px;
}

.form-signin .btn-login {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}

.login-wrap {
    padding: 20px;
}