<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit">
    <title>{$system.sitename}后台管理中心 - 商品管理 - 品牌管理</title>
    
    
</head>

<body>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>品牌管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="__MODULE__/Index/index">主页</a>
                        </li>
                        <li>
                            <a href="__MODULE__/Goods/index">商城设置</a>
                        </li>
                        <li>
                            <a href="__MODULE__/Brand/index">品牌列表</a>
                        </li>
                        <li>
                            <strong>添加品牌</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>添加品牌</h5>
                            </div>
                            <div class="ibox-content">
                                <form  role="form" id="form" method="post"  action="__MODULE__/Brand/save_brand" class="form-horizontal" enctype="multipart/form-data" />
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">品牌名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="brand"  placeholder="请输入品牌名称">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">品牌LOGO</label>
                                        <div class="col-sm-10">
                                        <input  type="file" name="brand_pic" id="exampleInputFile"  >
                                        <span class="help-block m-b-none">请上传品牌LOGO</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="sort"  placeholder="请输入排列序号">

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">保存内容</button>
                                            <button class="btn btn-white" type="reset">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Jquery Validate -->
    <script src="__PUBLIC__/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/plugins/validate/messages_zh.min.js"></script>
        <script>
        $(document).ready(function () {

            $("#form").validate({
                rules: {
                    brand: {
                        required: true,
                    },
                }
            });
        });
    </script>
    </body>
</html>
