<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit">
    <title>{$system.sitename}后台管理中心 - 客户管理 - 客户组管理</title>
    
    
</head>

<body>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>客户组管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="__MODULE__/Index/index">主页</a>
                        </li>
                        <li>
                            <a href="__MODULE__/User/index">客户管理</a>
                        </li>
                        <li>
                            <a href="__MODULE__/Rank/index">客户组管理</a>
                        </li>
                        <li>
                            <strong>添加客户组</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>添加客户组</h5>
                            </div>
                            <div class="ibox-content">
                                <form  role="form" id="form" method="post"  action="__MODULE__/Rank/save_rank" class="form-horizontal"/>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">客户组名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="r_name" id="r_name"  placeholder="请输入客户组名称">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">折扣率</label>
                                        <div class="col-sm-10 input-group m-b">                                        
                                            <input type="text" class="form-control" name="discounts" id="discounts"  placeholder="请输入折扣率"><span class="input-group-addon">%</span>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">简介</label>
                                        <div class="col-sm-10">
                                            <textarea name="about" cols="3" rows="3" class="form-control" placeholder="请输入简介" ></textarea>

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">提交保存</button>
                                            <button class="btn btn-white" type="reset">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Jquery Validate -->
    <script src="__PUBLIC__/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/plugins/validate/messages_zh.min.js"></script>
        <script>
        $(document).ready(function () {

            $("#form").validate({
                rules: {
                    r_name: {
                        required: true,
						minlength:3,
                    },
                    discounts: {
                        required: true,
						number:true,
                    },
                    about: {
                        required: true,
                    },
                }
            });
        });
    </script>
    </body>
</html>
